
.productPage{
   
}

.productPageHeading{
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; 
  color: rgb(51, 51, 51);
    font-family: "Mier bold";
    font-style: normal;
    /* position: absolute; */
}
.productSubheading{
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-family: "Mier demi";
  margin: 0px;
  padding: 0px;

}
.productSubheading2{
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Mier book";
  margin: 0px;
  padding: 0px;
}
.productAllItem{
    margin: 0px;
    max-width: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 24.05% 24.05% 24.05% 24.05%;
    column-gap: 16px;
    row-gap: 24px;
}
.productItem{
  border: 1px solid rgb(229, 229, 230);
  border-bottom: 1px solid rgb(229, 229, 230);
  width: 100%;
  height: 550px;
  border-top-right-radius:8px;
  border-top-left-radius:8px;
}
.productItem:hover{
  cursor: pointer;
}

.productImage{
  height: 63.5%;
  /* border: 1px solid black; */
  
  border-radius: 8px;
  
}
a{
  text-decoration: none;
}
img{
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageDetail{
  display: flex;
    flex-direction: column;
    /* border: 1px solid blueviolet; */
    /* min-height: 172px;     */
    padding: 16px;  
    background-color: rgb(255, 255, 255);
}
.text1{
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  
    color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    margin: 0px;
    padding: 0px;
}
.text2{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
 
}
.text2_1{
  color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: "Mier bold";
    margin: 0px;
    padding: 0px;
}
.text2_2{
  color: rgb(153, 153, 153);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mier book";
    margin: 0px 8px;
    padding: 0px;
    text-decoration: line-through;
}

.text2_3{
  color: rgb(3, 141, 99);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-family: "Mier demi";
  margin: 0px;
  padding: 0px;
}
.text3{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
}
.text3_1{
  color: rgb(102, 102, 102);
  font-style: normal;
  font-weight: 400;
  
  line-height: 20px;
  font-family: "Mier book";
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  margin-left: 5px;
}
.text4{
  background-color: rgb(249,249,249);
  border-radius: 28px;
  margin: 0px;
  margin-top: 14px;
  
  width: 35%;
  text-align: center;
  padding: 3px;
  /* height: 5px; */
}
.text5{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
}
.text5_1{
  display: flex;
  -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
/* .text5_1_1{
  display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 8px;
    height: 15px;
    background: rgb(35, 187, 117);
    fill: rgb(255, 255, 255);
    color: white;
} */

.text5_1_2{
  color: rgb(153, 153, 153);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  font-family: "Mier demi";
  margin: 0px;
  margin-left: 4px;
}
.pagination{
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}
.paginationButtonPrevious,.paginationButtonNext{
  color: #f43397;
  padding-left: 2%;
  padding-top: 5px;

} 
.pageNumber{
  margin-left: 2%;
  padding:0.5% 1% ;
  border-radius: 50%;
  border:none;
  background-color: white;
  /* width: 15px;
  height: 19px; */
  text-align: center;
}
.paginationButtonPrevious:hover,.paginationButtonNext:hover{
  cursor: pointer;
}
.pageNumber:hover{
  cursor: pointer;
  color: white;
  background-color: #f43397;
}

/* -------------------- */

@media (max-width: 920px){
  .productAllItem{ 
    grid-template-columns: 50% 50% ;
    column-gap: 0px;
    row-gap: 0px;
}
.productItem{
  height: 650px;
}
.productImage{
  height: 68%;
  /* border: 1px solid black; */
  
  border-radius: 8px;
  
}
}


/* ----------------------------- */
@media (max-width: 415px){
  .productAllItem{ 
    grid-template-columns: 50% 50% ;
    column-gap: 0px;
    row-gap: 0px;
}
.productItem{
  height: 380px;
}
.productImage{
  height: 60%;
  /* border: 1px solid black; */
  
  border-radius: 8px;
  
}

.text1{
    font-size: 10px;
}
.text2{
  
    margin-top: 0px;
}
.text2_1{
  
    font-size: 15px;
    
}
.text2_2{
 
    font-size: 11px;
   
    margin: 0px 8px;
    padding: 0px;
    text-decoration: line-through;
}

.text2_3{

  font-size: 11px;
  
}
.text3{
  
    margin-top: 0px;
}
.text3_1{
 
  font-size: 10px;
  
}
.text4{
  
  margin-top: 5px;
  width: 45%;
  
  font-size: 10px;
  
}
.text5{
  
    margin-top: 0px;
}

.text5_1_1{
 
    border-radius: 13px;
    padding: 4px ;
    height: 10px;
    
    font-size: 13px;
    color: white;
}

.text5_1_2{
  
  font-size: 11px;
  
}

}
